body{

}

.theLogin{
	font-size: 30px;
	display: grid;
	grid-template-columns: 50% 47%;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	padding: 10px;
}

.theSignUp{
	font-size: 30px;
	display: grid;
	grid-template-columns: 50% 47%;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	padding: 10px;
}

.Login-control{
	font-size: 30px;
}

.SignUp-control{
	font-size: 30px;
}